html {
    scroll-behavior: smooth;
  }


.btn-outline-success {
    color:black;
    border-color: #D29680;
}

.btn-outline-success:hover  {
    color: #000000; 
    background-color:#993333c2;
    border-color: #cb4181;
}

img{
    width: 50%
}

body{
    min-height:100%; 
    padding:0;
    margin:0;
    position:relative;
    background-color: #EFD28D ;
}
.card:hover{
    box-shadow: 1px 1px 9px 1px #B96F6F;
}

.card  {
  color: #cb4181;
 
}

.card img{
    max-width: 450px;
}

.card-body{
    background: #FFEFE3

}

#batom{
    background-color: #C88E8E;
}

#pincel{
    background-color: #EAA400;
}


