html {
    scroll-behavior: smooth;
  }

header img{
    width: 100%
}

.flexo-h{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flexo-bottom{
    align-self: flex-end;
}

.flexo-v{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.btn-primary{
    background-color: #CB4181;
    color: white;
    font-weight: bold;
    border: none;
    height: 60px;
}

.btn-primary:hover {
    background-color: #FF2088;
}

h1,h3 {
    font-weight: bold;
}

.form-control{
    border:1px solid #D29680;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
.btn-outline-success {
    color:black;
    border-color: #D29680;
}

.btn-outline-success:hover  {
    color: rgb(0, 0, 0); 
    background-color:#FF5353;
    border-color: #C88E8E;
}


body{
    min-height:100%; 
    padding:0;
    margin:0;
    position:relative;
    background-color: #DFB57F ;
    color: white;
}
.card:hover{
    box-shadow: 1px 1px 9px 1px #00000036;
}
#base{
   background-color:  #DD597D;
}

#batom{
    background-color: #C88E8E;
}

#pincel{
    background-color: #EAA400;
}

#esponja{
    background-color:#E1E1FF
}

